[submodule "ext/RadioLib"]
	path = ext/RadioLib
	url = git@github.com:jgromes/RadioLib.git
[submodule "ext/lg"]
	path = ext/lg
	url = git@github.com:joan2937/lg.git
[submodule "ext/asio"]
	path = ext/asio
	url = https://github.com/chriskohlhoff/asio.git
